<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aadil.capstoneproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayerActivity" />
        <activity android:name=".ResultsActivity" />

        <service android:name=".widget.UpdateFavoritesService" />

        <service
            android:name=".widget.FavoriteWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widget.FavoriteWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_provider_info" />
        </receiver>

        <provider
            android:name="com.example.aadil.capstoneproject.provider.FavoriteContentProvider"
            android:authorities="com.example.aadil.capstoneproject"
            android:exported="true"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7336829065422917~4819700774"/>
    </application>

</manifest>